/*Estilo para Tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
/*Qualidade*/
.qualidade:after {
	right: 66px;
	z-index: -1;
}

.qualidade_lista li {
	text-align: center;
	padding: 0 10px;
}
/*Footer*/
.footer_redes ul li a {
	border: 3px solid #FEC63E;
	display: block;
	width: 40px;
	height: 40px;
	padding: 4px 5px 6px 5px;
}

.footer_redes ul li a img {
	width: 26px;
	height: 26px;
}

/*Produtos*/
.produto_item h2 {
	top: -150px;
	margin-bottom: -56px;
}
.produto_icone {
	background: #000;
	padding: 41px 0;
}
.produto_info p{
	font-size: 14px;
	line-height: 20px;
	padding: 20px 30px;
	height: 122px;
}
.produto_info ul li {
	width: 181px;
	height: 49px;
}
.orcamento_dados ul {
	padding-left: 383px;
}
}
/*Estilo para Smartphones*/
@media only screen and (max-width: 787px) {

/*Header*/
.header {
	position: relative;
	padding-bottom: 0px;
}

.header img{
	margin: 0 auto 20px auto;
}

.header_menu {
	text-align: center;
}

.header_menu ul li {
	margin: 5px;
}
.header_menu ul li a {
	border: 4px solid #000;
	width: 136px;
	display: block;
	float: left;
}

.header_menu ul li a:hover {
	border-color: #FFF;
}
.header_menu ul .menu_ativo a {
	border-color: #FFF;
}


/* Introdução*/
.introducao {
	margin-top: 230px;
	background-size: cover;
	padding-top: 60px;
}
.introducao h1 {
	font-size: 36px;
}

.subtitulo_pagina {
	padding-top: 40px;
}

/* Introdução das Páginas*/
.introducao_paginas {
	margin-top: 230px;
	padding-top: 40px;
}

/*Call*/
.call {
	padding-top: 10px;
}
/*Qualidade Home*/
.qualidade:after {
	display: none;
}

/*Sobre*/
.equipe_historia p {
	font-size: 14px;
	line-height: 20px;
}
.equipe_valores ul li {
	font-size: 14px;
	line-height: 25px;
}
.equipe_valores h2 {
	padding-top: 0;
}
.equipe_imagem {
	padding-top: 20px;
}

/*Produtos*/
.produto_item h2 {
	top: -100px;
	margin-bottom: -68px;
}
.produto_icone {
	padding: 41px 0;
}
.produto_info p{
	font-size: 14px;
	line-height: 20px;
	padding: 20px 30px;
	height: auto;
}
.produto_info ul li {
	width: 149px;
	height: 49px;
	font-size: 14px;
	line-height: 20px;
	padding-top: 14px;

}
.orcamento_dados ul {
	padding-left: 0px;
	padding-right: 0px;
}
.form {
	padding-right: 0px;
}
/*Contato*/
.contato_form {
	padding-right: 0px;
	margin-bottom: 10px;
}

.copy p{
	margin-bottom: 0;
}
}